/*
Design by TemplateAccess.com
Released for free under a Creative Commons Attribution 3.0 License
*/

@charset "utf-8";
body { margin:0; padding:0; width:100%; background:#fff url(images/main_bg.gif) top repeat-x; }
html { padding:0; margin:0; }
li.bg,
.bg { clear:both; border-bottom:1px dashed #818181; padding:0; margin:10px 0; background:none; list-style:none; }
p.clr,
.clr { clear:both; padding:0; margin:0; }
.main { margin:0 auto; padding:0; }
/* header */
.header_resize { margin:0 auto; padding:0; width:930px; background:url(images/header_bg.jpg) right no-repeat; }
.header { margin:0; padding:15px 0 0 0; }
/* logo */
.logo { width:400px; margin:0 auto; padding:0; float:left; }
h1 { margin:0; padding:28px 0 28px 40px; color:#fff; font:normal 30px/1.2em Arial, Helvetica, sans-serif; text-transform:uppercase; letter-spacing:-2px;}
h1 a, h1 a:hover { color:#fff; text-decoration:none;}
h1 span { font-weight:bold;}
h1 small { font:normal 13px/1.2em Arial, Helvetica, sans-serif; text-transform:none; letter-spacing:normal;}
/* search */
.search { padding:25px 20px 0 0; margin:0; width:260px; float:right; }
.search form { float:right; padding:0; margin:0; }
.search span { display:block; float:left; background: url(images/search_bg.gif) left top no-repeat; width:120px; padding:2px 5px; height:31px; }
.search form .keywords { width:149px; line-height:14px; height:14px; float:left; background:none; border:0; padding:6px 2px; margin:0; font:normal 11px Arial, Helvetica, sans-serif; color:#000; }
.search form .button { float:left; margin:0; padding:0; }
/*menu*/
.menu_resize { width:934px; background:url(images/menu_resize_bg.gif) top no-repeat; padding:0; margin:0 auto; }
.menu { padding:3px 0 5px 5px; margin:0; width:395px; float:left; }
.menu ul { padding:0; margin:0; list-style:none; border:0; float:left; }
.menu ul li { float:left; margin:0; padding:0; border:0; }
.menu ul li a { border-left:1px solid #c9c9c9; border-right:1px solid #fff; float:left; margin:0; padding:12px 15px; color:#6f6e6e; font:normal 14px Arial, Helvetica, sans-serif; text-decoration:none; }
.menu ul li a:hover { color:#5fa4d3; background:#e3e3e3; }
.menu ul li a.active { color:#5fa4d3; background:#e3e3e3; }
/* headert_text_resize */
.headert_text_resize_bg { padding:15px 0 0 0; margin:0; }
.headert_text_resize { width:934px; padding:20px 0 0 0; margin:0 auto; background:url(images/header_text_bg.jpg) top no-repeat; height:228px; }
.headert_text_resize .textarea { width:470px; margin:0; padding:10px 0 0 40px; float:left; }
.headert_text_resize .textarea img { float:left; padding:20px 0 0 0; margin:0; }
.headert_text_resize .textarea h2 { font: normal 45px Arial, Helvetica, sans-serif; color:#878787; padding:0; margin:0; }
.headert_text_resize .textarea h2 span { color:#37a0d1; }
/*body*/
.body { margin:0 auto; padding:0; width:930px; }
.body h2 { font: normal 26px Arial, Helvetica, sans-serif; color:#6e6e6e; padding:5px; margin:5px 0; }
.body p { font: normal 12px Arial, Helvetica, sans-serif; color:#6e6e6e; padding:5px; margin:0; line-height:1.8em; }
.body p span { font: normal 12px Arial, Helvetica, sans-serif; color:#5fa4d3; padding:0; margin:0 0 5px 0; border-bottom:1px dashed #5fa4d3; border-top:1px dashed #5fa4d3; }
.body img { float:left; margin:5px; padding:0; }
.body img.floated { float:left; margin:5px 10px 15px 0; padding:0; }
.body a { color:#5fa4d3; text-decoration:underline; }
.left_resize { width:652px; margin:0; padding:0 0 20px 0; float:left; }
.right_resize { width:260px; margin:0; padding:0 0 20px; float:right; }
.left { float:left; width:632px; margin:20px 0 0 0; padding:10px; border:1px solid #e5e5e5; background:#fff url(images/left_bg.gif) top repeat-x; }
.right { float:right; width:230px; margin:20px 0 0 0; padding:10px; border:1px solid #e5e5e5; background:#fff url(images/left_bg.gif) top repeat-x; }
.right ul { list-style:none; margin:5px 10px; padding:0; }
.right li { font: normal 14px Arial, Helvetica, sans-serif; color:#464646; padding:5px 0; margin:3px 0; }
.right li a { padding:0 0 0 5px; margin:0; font: normal 16px Georgia, "Times New Roman", Times, serif; color:#63adcb; text-decoration:none; background:none; }
.right li a:hover { color:#484440; text-decoration:none; }
.right ul.sponsors { list-style:none; margin:5px 10px; padding:0; }
.right li.sponsors { background:none; font: normal 11px Georgia, "Times New Roman", Times, serif; color:#404a52; padding:5px 0; }
.right li.sponsors a { padding:0 0 0 0px; margin:0; font: normal 16px Georgia, "Times New Roman", Times, serif; color:#63adcb; text-decoration:none; background:none; }
.right li.sponsors strong { color:#63adcb; }
/* FBG */
.FBG { margin:0 auto; padding:0 0 20px 0; }
.FBG_resize { padding:0; width:930px; margin:0 auto; border:1px solid #e5e5e5; background: #fff; }
.FBG img { float:left; margin:5px 10px 5px 0; padding:0; }
.FBG h2 { color:#5fa4d3; font: normal 26px Arial, Helvetica, sans-serif; padding:3px 0; margin:5px 0 15px 0; }
.FBG p { color:#585858; font: normal 12px Arial, Helvetica, sans-serif; padding:5px 0; margin:0; line-height:1.8em; }
.FBG p span { color:#5fa4d3; }
.FBG a { color:#414141; text-decoration:none; font: bold 12px Georgia, "Times New Roman", Times, serif; }
.FBG ul { list-style:none; width:150px; float:left; padding:0; margin:10px 5px; }
.FBG li { padding:0 1px 2px 10px; margin:0; background: url(images/ul_li_fbg.gif) left no-repeat; }
.FBG li a { background:none; border:0; color:#5fa4d3; font: normal 12px Georgia, "Times New Roman", Times, serif; text-decoration: underline; }
.FBG li a:hover { color:#5fa4d3; text-decoration:none; }
.FBG .blok { width:270px; float:left; padding:0 5px; margin:15px 10px 15px 15px; }
/* footer */
.footer_resize { margin:0 auto; padding:0; width:930px; }
.footer { padding:0; margin:0 auto; }
.footer p { color:#6e6e6e; font: normal 12px Arial, Helvetica, sans-serif; padding:10px 0 11px 5px; margin:0; line-height:1.8em; }
.footer a { text-decoration:none; color:#5fa4d3; }
/********** contact form **********/
#contactform { margin:0; padding:5px 10px; }
#contactform * { color:#F00; }
#contactform ol { margin:0; padding:0; list-style:none; }
#contactform li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#contactform li.buttons { margin:5px 0 5px 0; }
#contactform label { margin:0; width:110px; display:block; padding:10px 0; color:#666; font: normal 12px Arial, Helvetica, sans-serif; text-transform:capitalize; float:left; }
#contactform label span { color:#F00; }
#contactform input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff; float:left; }
#contactform textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff; float:left; }
#contactform li.buttons input { border:1px solid #000; background:#ea7d1b; padding:10px; margin:10px 0 0 110px; color:#fff; float:left; font: normal 12px Arial, Helvetica, sans-serif; }
p.response { text-align:center; color:#F00; font: normal 11px Georgia, "Times New Roman", Times, serif; line-height:1.8em; width:auto; }
