/*
Template Design by cssMoban.com
http://www.cssMoban.com
Released for free under a Creative Commons Attribution-Share Alike 3.0 Philippines
*/

/** Common Styles */

body {
	margin: 30px 0 20px 0;
	padding: 0;
	background: #E6E6E6;
	text-align: justify;
	line-height: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #686868;
}

h1, h2, h3 {
	padding: 0;
	margin: 0;
	text-transform: lowercase;
	color: #5CB01C;
}

p, ul, ol {
	margin-bottom: 1.3em;
}

ul {
	margin: 0px;
	padding: 0;
}

a {
	color: #5EB711;
}

a:hover {
	text-decoration: none;
	color: #005880;
}

/** Style for header starts here */

#header {
	width: 800px;
	height: 200px;
	margin: 0px auto;
	background: url(images/images02.jpg) no-repeat left top;
}

#header h1, #header h2 {
	margin: 0px;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: italic;
	color: #B3E374;
}

#header h1 {
	padding: 96px 0px 10px 100px;
	letter-spacing: -1px;
	font-size: 48px;
	font-weight: normal;
	color: #D7F5B5;
}

#header h2 {
	margin-top: -4px;
	padding: 0px 0px 0px 100px;
	font-size: 14px;
}

/** Style for menu starts here */

#menu {
	width: 800px;
	height: 50px;
	margin: 0px auto;
	background: #77BE02;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 36px;
	margin: 0px;
	padding: 14px 30px 0px 30px;
	letter-spacing: -1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	background: #2D2D2D;
	color: #FFFFFF;
}

#menu .active a {
	background: #2D2D2D;
}
/** Style for wrapper starts here */

#wrapper {
	width: 800px;
	margin: 0px auto;
	background: #FFFFFF;
	padding: 20px;
	border: 10px solid #DBDBDB;
}

/** Style for content starts here */

#content {
	width: 800px;
	margin: 0px auto;
	padding-top: 25px;
}

#content h2 {
	text-transform: capitalize;
	font-size: 24px;
	font-weight: normal;
}

#content span {
	color: #2D2D2D;
}


#content p {
}

#content strong {
	color: #131313;
}

#left {
	float: left;
	width: 480px;
	padding-left: 20px;
	margin-bottom: 20px;
}

#left ul {
	margin: 0 3em;
	padding: 0;
	list-style: none;
}

#left li {
	margin-bottom: 10px;
	padding-left: 10px;
	line-height: 17px;
}

#left .post {
	margin-bottom: 20px;
}

#right {
	float: right;
	width: 240px;
	margin-bottom: 20px;
	padding-right: 20px;
}


#right ul {
	margin: 15px 0 0 0;
	padding: 0;
	list-style: none;
}

#right li {
	padding: 6px 10px;
	border-bottom: 1px solid #97D862;
	background: url(images/images01.gif) no-repeat left 14px;
}

#right li a {
	text-decoration: none;
	color: #6E9D01;
}

#right h2 {
	letter-spacing: -1px;
	font-family: Arial, Helvetica, sans-serif;
	color: #5CB01C;
}

/** Style for footer starts here */

#footer {
	clear: both;
	width: 800px;
	height: 42px;
	margin: 0px auto;
	padding-top: 13px;
	border-top: 1px solid #444444;
	text-transform: uppercase;
	font-size: 10px;
}

#footer .copyright {
	float: left;
	margin: 0px;
	padding-left: 20px;
	text-align: center;
}

#footer .links {
	float: right;
	margin: 0px;
	padding-right: 20px;
	text-align: center;
}

#footer .css {
	padding-left: 20px;
	background: url(images/image01.png) no-repeat left 50%;
}

#footer .xhtml {
	padding-left: 20px;
	background: url(images/image02.png) no-repeat left 50%;
}

#footer a {
	color: #707070;
}
