
::selection {background-color:#774094; color:#fff;}
span {color:#774094; font-size:12px;}
.sub_slider span {color: #774094; font-size:20px;}
footer .footer_tag_cloud ul li:hover {background-color: #774094;}
.news_button a {background-color: #774094;}
.subfooter a {color: #774094;}
.home2_blog_meta p.day {background-color: #774094;}
h2 span {font-size:30px;}
ul#twitter_update_list span a {color: #774094;}
.home2_blog_post a {color: #774094;}
.flex-caption div.caption-text-h1, .flex-caption div.caption-text-h2, .flex-caption-boxed div.caption-text-h1 {border-left:5px solid #774094;}
.flex-caption div.caption-text-h2, .flex-caption-boxed div.caption-text-h2 {border-left:5px solid #774094;}
.pricing-package .buy-section a {background-color: #774094;}
.pricing-package span.amount {color: #774094;}
.breadcrums ul li a:hover {color: #774094;}
#navigation li:hover > ul, #navigation2 li:hover > ul {border-top:1px solid #774094;}
h4#hide {background-color: #774094;}
h2.trigger span {color: #774094;}
.tooltip_container a {color: #774094;}
.option-set li a.selected {background-color: #774094;}
.project_details .button a {background-color: #774094;}
.entry-month {background-color: #774094;}
input#submit {background-color: #774094;}