    /*Grey*/
    html body #bottom-header {background:url('../../img/themes/grey_bar.png') no-repeat center center;}
    html body .call-to-action a, html body .submit input, html body .submit input:active, html body .submit input:focus {
        background-color:#696969; } /* standard color */
    html body .call-to-action .btn:hover, html body .submit input:hover {
        background-color:#7B7B7B;} /* hover color */
    html body ::selection {background:#696969;} /* text selection css IE */
    html body ::-moz-selection {background:#696969;} /* text selection css Mozzila */
    html body button.btn {
        background: #80963C; 
        background: -moz-linear-gradient(top, #696969 0%, #7B7B7B); 
        background: -webkit-gradient(linear, left top, left bottom, from(#696969), to(#7B7B7B));
        -moz-box-shadow: inset 1px 0px 9px rgba(255,255,255,0.03), inset 0px 1px 0px rgba(0,0,0,0.2); 
        -webkit-box-shadow: inset 1px 0px 9px rgba(255,255,255,0.03), inset 0px 1px 0px rgba(0,0,0,0.2);  
    }
    html body button.btn:hover {
        background: #6D6D6D; 
        background: -moz-linear-gradient(top, #7B7B7B 0%, #6D6D6D); 
        background: -webkit-gradient(linear, left top, left bottom, from(#7B7B7B), to(#6D6D6D));
        -moz-box-shadow: inset 1px 0px 9px rgba(255,255,255,0.03), inset 0px 1px 0px rgba(0,0,0,0.2); 
        -webkit-box-shadow: inset 1px 0px 9px rgba(255,255,255,0.03), inset 0px 1px 0px rgba(0,0,0,0.2);  
    }	
    html body .pagination li.current a {color:#696969; background-color: #696969;
    -moz-box-shadow: 0 -1px 0 #222 inset, 1px 1px 1px #222 inset;
    -webkit-box-shadow: 0 -1px 0 #222 inset, 1px 1px 1px #222 inset;
    box-shadow: 0 -1px 0 #222 inset, 1px 1px 1px #222 inset; }
    html body .num {background-color:#696969;}
