    html body  #bottom-header {background:url('../../img/themes/red_bar.png') no-repeat center center;}
    html body  .call-to-action a, html body  .submit input, html body  .submit input:active, html body  .submit input:focus {
        background-color:#B40200; } /* standard color */
    html body  .call-to-action .btn:hover, html body  .submit input:hover {
        background-color:#D30000;} /* hover color */
    html body  ::selection {background:#00AAF9;} /* text selection css IE */
    html body  ::-moz-selection {background:#00AAF9;} /* text selection css Mozzila */
    html body  button.btn {
        background: #B40200; 
        background: -moz-linear-gradient(top, #B40200 0%, #D30000); 
        background: -webkit-gradient(linear, left top, left bottom, from(#B40200), to(#D30000));
        -moz-box-shadow: inset 1px 0px 9px rgba(255,255,255,0.03), inset 0px 1px 0px rgba(0,0,0,0.2); 
        -webkit-box-shadow: inset 1px 0px 9px rgba(255,255,255,0.03), inset 0px 1px 0px rgba(0,0,0,0.2);  
    }
    html body  button.btn:hover {
        background: #B40200; 
        background: -moz-linear-gradient(top, #D30000 0%, #B40200); 
        background: -webkit-gradient(linear, left top, left bottom, from(#D30000), to(#B40200));
        -moz-box-shadow: inset 1px 0px 9px rgba(255,255,255,0.03), inset 0px 1px 0px rgba(0,0,0,0.2); 
        -webkit-box-shadow: inset 1px 0px 9px rgba(255,255,255,0.03), inset 0px 1px 0px rgba(0,0,0,0.2);  
    }	
    html body  .pagination li.current a {color:#B40200; background-color: #B40200;
    -moz-box-shadow: 0 -1px 0 #111 inset, 1px 1px 1px #111 inset;
    -webkit-box-shadow: 0 -1px 0 #111 inset, 1px 1px 1px #111 inset;
    box-shadow: 0 -1px 0 #111 inset, 1px 1px 1px #111 inset; }
    html body .num {background-color:#B40200;}   
